/* Global */
 
html, 
body {
    font-family:"Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #222323;
}

/* Start Reusable */
 
h1 {
    font-size: 2.25em;
}

h5{
    margin-top: 50px; 
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 1em;
}

h6 {
    font-size: 1.25rem;
}

p {
   color: #535a60;
    text-align: justify;
} 

a:hover{
    text-decoration: none;
}

.hr {
    width: 50px;
    margin: 20px auto;
}

.hr-center {
    margin-bottom: 40px;
}

/* End Reusable */

/* Major Elements */

header {
    height: 80px;
    font-size: .9em;
    letter-spacing: 1px;
}

nav {
    letter-spacing: 1px; 
}


main {
    padding-top: 80px
}


.coffee-info{
     padding: 60px;
}

#product-name,
#product-price {
    margin: 0 auto;
}

#product-price {
    margin-top: 30px;
    font-size: 1.5rem;
}


/* Media Queries */

@media (min-width: 576px) {
    .hr-h5 {
        margin-right: 0;
        margin-left: 0;
        
    }
}

@media (max-width: 576px) {
    .coffee-info {
        padding: 0;
        
    }
    main {
        margin-top: 30px;
    }
}






    



