/* Global */

html, 
body {
    font-family:"Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    color: #222323;
}

/* Start Reusable */


h1,
h2 {
    font-size: 1.25em;
}

h5{
    margin-top: 50px; 
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 1em;
}

h6 {
    font-size: 1.25rem;
}

p {
   color: #535a60;
    text-align: justify;
} 

.hr {
    width: 50px;
    margin: 30px auto;
}

.hr-center {
    margin-bottom: 40px;
}

/* End Reusable */

/* Major Elements */

header {
    height: 80px;
    font-size: .9em;
    letter-spacing: 1px;
    z-index: 5;

}

.navbar-wrapper {
    position:relative;
    color: white;
}

header {
    position:absolute;
    top:0;
    z-index:10;
    background: rgb(0, 0, 0); opacity: 0.85;
    width:100%;
}

nav {
    letter-spacing: 1px;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
    padding-top: 80px
}

.landing-page-info{
     padding: 60px;
}

.featured-info,
.featured-products {
    margin-top: 90px;
}

.product-items {
    padding: 7.5px 10px;
}

/* Media Queries */

@media (min-width: 576px) {
    .hr-h5 {
        margin-right: 0;
        margin-left: 0;
        
    }
}

@media (max-width: 576px) {
    .landing-page-info {
        padding: 0;
        
    }
    main {
        margin-top: 30px;
    }
}






    



